body {
  background-color: rgb(37, 55, 79);
}

#game {
  background-color: rgb(37, 55, 79);
  padding: 10px;
  max-width: 900px;
  max-height: 600px;
  width: 700px;
  height: 600px;
  color: #ffffff;
  margin: 30px auto 0px;
}

#text {
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  font-size: 24px;
  padding: 50px;
}

#controls {
  align-items: center;
  justify-content: center;
}

#stats {
  font-size: 32px;
  text-align: center;
  margin-top: 32px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  margin: 50px;
  padding: 10px;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
  font-size: larger;
}
